* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin-top: 100px;
}

#hero {
  background-image: url(./Space_Transportation.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
}

#hero-img {
  width: 40%;
  position: absolute;
  right: 30px;
  bottom: -50px;
  transition: 3s;
  /* and if you want transition effects */
}

#hero:hover #hero-img {
  transform: scale(0.5) translate(-40px, -150px) rotate(3turn);
  opacity: 0;
}

/* animate size position and rotation */

/* comment above and uncomment bellow: why this doesn't work well?? */
/* #hero-img:hover{
    transform: scale(.3) translate(-50px, -250px) rotate(3turn); */

main {
  width: 90vw;
  margin: auto;
  background-color: thistle;
}
